<style>
.waf-widget-datebox {
	font-family: @FontFamily;
    padding:2px;
    border:1px solid @BorderColor;
    color:@CaptionColor;
    background-color:@CaptionBackColor; 
}
.waf-widget-datebox-disabled {    
    font-family: @FontFamily;
    padding:2px;
    border:1px solid @BorderColorLight;
    color:@CaptionDisabledColor;
    background-color:@CaptionBackDisabledColor;
}
</style>
<div>
    <input id="inpText" type="text" class="waf-widget-datebox" />
</div>