<style>
.waf-widget-menu-bar{
    /*border:1px solid @BorderColor;*/
    position:relative;
    list-style-type: none;
    padding:0px;
    margin:0px;
    /*height: 20px;
    background-color: @CaptionBackColor;*/
    color:@CaptionColor;
}

.waf-widget-menu-bar .menu-item,
.waf-widget-menu-bar .menu-item-selected{
	color:@CaptionColor;
    margin:0px;
    vertical-align: middle;    
    width:auto;
    height: auto;
    border:1px solid transparent; 
    border-width: 1px 0px 1px 0px;    
    position:relative;
    padding:6px 4px 3px 0px;
}


.waf-widget-menu-bar .menu-item:hover,
.waf-widget-menu-bar .menu-item-selected{
    background-color: @CaptionBackHoverColor;
    color:@CaptionHoverColor;
    border:1px solid @BorderColorLight;
    border-width: 1px 0px 1px 0px;
	/*var(Macro_ButtonBackGradHover);}*/
}

.waf-widget-menu-bar > .menu-item,
.waf-widget-menu-bar > .menu-item-selected,
.waf-widget-menu-bar > .menu-item:hover
{
	border-width:1px;
}

.waf-widget-menu-bar > .menu-item-selected,
.waf-widget-menu-bar > .menu-item:hover
{
	border:1px solid @BorderColorLight;
}

.waf-widget-menu-bar .menu-block{
    border:1px outset @BorderColor;
    position:absolute;
    background-color:@CaptionBackColor;
    z-index:1000;
}

.waf-widget-menu-bar .menu-text{
    font-size: @FontSize;
    font-family: @FontFamily;
    padding:0px 0px 0px 6px;
    white-space:nowrap !important;
    cursor:pointer;
    display:inline;
    padding-right:20px;
}
.waf-widget-menu-bar .menu-submenu-image{
   	margin-left:2px;
    margin-right:2px;
    @BackGroundImagePNG(@IconImg);
    background-position: -120px -2px;
    background-repeat:no-repeat;
    background-color:transparent;
    height:16px;
    width:16px;
    position:absolute;    
    right: 2px;
}

.waf-widget-menu-bar > .menu-item > .menu-submenu-image,
.waf-widget-menu-bar > .menu-item-selected > .menu-submenu-image{
	display:none;
}
.waf-widget-menu-bar .menu-separator{
    padding-top:1px;
    background-color:@BorderColor;
}

</style>
<div class="waf-widget-menu-bar"></div>

