<style>
.waf-widget-slider-vertical{
    position: relative;
    width:20px;
    height:200px;
}
.waf-widget-slider-vertical > .bar{
	position:absolute;
	left:6px;
	border:1px solid @BorderColor;
	@BackGroundGradientControlVertical(@ControlColor_Start,@ControlColor_End);
	width:6px;
	_width:4px;
	height:198px;	
}
.waf-widget-slider-vertical > .thumb{    
    height: 6px;
    _height:4px;
    width: 16px;
    _width: 14px;/*IE6 Hack*/
    line-height:1px;
    font-size:0px;
    border: 1px solid @BorderColor;    
	@BackGroundGradientVertical(@ButtonFaceColor_Start,@ButtonFaceColor_End);    
    cursor: pointer;
    left:1px;
    position: absolute;
    top:0%;
}
.waf-widget-slider-vertical > .thumb:hover{    
	@BackGroundGradientVertical(@ButtonHoverColor_Start,@ButtonHoverColor_End);
}
</style>
<div  id="divContainer" class="waf-widget-slider-vertical" >
	<div class="bar"/>
	<div id="divThumb" class="thumb"/>
</div>