<style>
.waf-widget-color-picker{
    padding-top:16px;
    width:20px;
    border:@BorderColor;
    cursor:pointer;
    color:@CaptionColor;
}
.waf-widget-color-picker:hover{
    border-color:@BorderColorLight;
}
</style>
<div class="waf-widget-color-picker" title="Click to pick color">
</div>