<style>
.waf-widget-color-palette{
    color:@CaptionColor;
    width:171px;
    border:1px solid @BorderColor;
    padding: 1px;
	@BorderRadius(@BorderRadiusSize,@BorderRadiusSize,@BorderRadiusSize,@BorderRadiusSize);
	/*@BackGroundGradientControl(@ControlColor_Start,@ControlColor_End);*/
	background-color:@BackgroundColor;
}
.waf-widget-color-palette .remove-color{
	background-color:#FFFFFF;
	padding:0px 4px 0px 4px;
}
.waf-widget-color-palette .color-value {
	width:auto;
	margin-left:3px;
	padding:0px 2px 0px 2px;
}

.waf-widget-color-palette .top-bar{
    margin:2px 1px 0px 1px;
}
.waf-widget-color-palette .palette-table{
    border-collapse: collapse;
    border:1px solid @BorderColor;
}
.waf-widget-color-palette .cell,.waf-widget-color-palette .palette-table td{
    border:1px solid @BorderColorLight;
    cursor:pointer;
    height:20px;
    width:20px;
    padding:0px;
    margin:0px;
    text-align: center;    
}
.waf-widget-color-palette .cell:hover{
    border:1px solid @BorderColor;
    cursor:pointer;
    height:20px;
    width:20px;
    padding:0px;
    margin:0px;
    text-align: center;    
}
.waf-widget-color-palette .gray-scale,.waf-widget-color-palette .base-colors{
    margin:2px 1px 0px 1px;
}

.waf-widget-color-palette .base-shades{
    margin:2px 1px 1px 1px;
}
</style>
<div class="waf-widget-color-palette">
    <div class="top-bar">
        <span id="spanRemove" class="remove-color" title="Remove Color">
            X
        </span>
        <span id="spanColorValue" class="color-value" >
        </span>
    </div>

    <div id="divColors">    
    	<div class="gray-scale">
            <table cellspacing="0" cellpadding="0" class="palette-table" style="margin-top:4px;">
                <tbody>
                    <tr>
                        <td style="background-color:#000000;"/>
                        <td style="background-color:#444444;"/>
                        <td style="background-color:#666666;"/>
                        <td style="background-color:#999999;"/>
                        <td style="background-color:#CCCCCC;"/>
                        <td style="background-color:#EEEEEE;"/>
                        <td style="background-color:#F3F3F3;"/>
                        <td style="background-color:#FFFFFF;"/>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="base-colors">
            <table cellspacing="0" cellpadding="0" class="palette-table">
                <tbody>

                    <tr>
                        <td style="background-color:#FF0000;"/>
                        <td style="background-color:#FF9900;"/>
                        <td style="background-color:#FFFF00;"/>
                        <td style="background-color:#00FF00;"/>
                        <td style="background-color:#00FFFF;"/>
                        <td style="background-color:#0000FF;"/>
                        <td style="background-color:#9900FF;"/>
                        <td style="background-color:#FF00FF;"/>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="base-shades">
            <table cellspacing="0" cellpadding="0" class="palette-table">
                <tbody>
                    <tr>
                        <td style="background-color:#F4CCCC;"/>
                        <td style="background-color:#FCE5CD;"/>
                        <td style="background-color:#FFF2CC;"/>
                        <td style="background-color:#D9EAD3;"/>
                        <td style="background-color:#D0E0E3;"/>
                        <td style="background-color:#CFE2F3;"/>
                        <td style="background-color:#D9D2E9;"/>
                        <td style="background-color:#EAD1DC;"/>
                    </tr>
                    <tr>
                        <td style="background-color:#EA9999;"/>
                        <td style="background-color:#F9CB9C;"/>
                        <td style="background-color:#FFE599;"/>
                        <td style="background-color:#B6D7A9;"/>
                        <td style="background-color:#A2C4C9;"/>
                        <td style="background-color:#9FC5E8;"/>
                        <td style="background-color:#B4A7D6;"/>
                        <td style="background-color:#D5A6DB;"/>
                    </tr>
                    <tr>
                        <td style="background-color:#E06666;"/>
                        <td style="background-color:#F6B26B;"/>
                        <td style="background-color:#FFD966;"/>
                        <td style="background-color:#93C47D;"/>
                        <td style="background-color:#76A5AF;"/>
                        <td style="background-color:#6FA8DC;"/>
                        <td style="background-color:#8E7CC3;"/>
                        <td style="background-color:#C27BA0;"/>
                    </tr>
                    <tr>
                        <td style="background-color:#CC0000;"/>
                        <td style="background-color:#E69138;"/>
                        <td style="background-color:#F1C232;"/>
                        <td style="background-color:#6AA84F;"/>
                        <td style="background-color:#45818E;"/>
                        <td style="background-color:#3D85C6;"/>
                        <td style="background-color:#674EA7;"/>
                        <td style="background-color:#A64D79;"/>
                    </tr>
                    <tr>
                        <td style="background-color:#990000;"/>
                        <td style="background-color:#B45F06;"/>
                        <td style="background-color:#BF9000;"/>
                        <td style="background-color:#38761D;"/>
                        <td style="background-color:#134F5C;"/>
                        <td style="background-color:#0B5394;"/>
                        <td style="background-color:#351C75;"/>
                        <td style="background-color:#741B47;"/>
                    </tr>
                    <tr>
                        <td style="background-color:#660000;"/>
                        <td style="background-color:#783F04;"/>
                        <td style="background-color:#7F6000;"/>
                        <td style="background-color:#274E13;"/>
                        <td style="background-color:#0C343D;"/>
                        <td style="background-color:#073763;"/>
                        <td style="background-color:#20124D;"/>
                        <td style="background-color:#4C1130;"/>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>