<style>
.waf-widget-context-menu{
    position: absolute;
    border:1px outset @BorderColor;    
    padding:0px;
    background-color: @CaptionBackColor;
    margin:0px;
    color:@CaptionColor;
}
.waf-widget-context-menu .menu-item,.waf-widget-context-menu .menu-item-selected{
	color:@CaptionColor;
    margin:0px;
    vertical-align: middle;    
    width:auto;
    height: auto;
    border:1px solid transparent; 
    border-width: 1px 0px 1px 0px;    
    position:relative;
    padding:6px 4px 3px 0px;
}

.waf-widget-context-menu .menu-item:hover,.waf-widget-context-menu .menu-item-selected{
    background-color: @CaptionBackHoverColor;
    color:@CaptionHoverColor;
    border:1px solid @BorderColorLight;
    border-width: 1px 0px 1px 0px;
	/*var(Macro_ButtonBackGradHover);}*/
}
.waf-widget-context-menu .menu-block{
    border:1px outset @BorderColor;
    position:absolute;
    background-color:@CaptionBackColor;
    z-index:1000;
}

.waf-widget-context-menu .menu-text{
    font-size: @FontSize;
    font-family: @FontFamily;
    padding:0px 0px 0px 6px;
    white-space:nowrap !important;
    cursor:pointer;
    display:inline;
    padding-right:20px;
}
.waf-widget-context-menu .menu-submenu-image{
   	margin-left:2px;
    margin-right:2px;
    @BackGroundImagePNG(@IconImg);
    background-position: -120px -2px;
    background-repeat:no-repeat;
    background-color:transparent;
    height:16px;
    width:16px;
    position:absolute;    
    right: 2px;
}
.waf-widget-context-menu .menu-separator{
    padding-top:1px;
    background-color:@BorderColor;
}

</style>
<div  class="waf-widget-context-menu menu-block"></div>

