<style>
.waf-widget-datepicker {
	width: 192px;
	/*height: 211px;*/
	/*position: absolute;*/
	/*@BackGroundGradientControl(@ControlColor_Start,@ControlColor_End);*/
	background-color:@BackgroundColor;
	z-index: 100;
}

.waf-widget-datepicker .top {
	border: 1px solid @BorderColor;
	border-bottom-width: 0px;
	height: 20px;
	padding: 2px;
}

.waf-widget-datepicker .left-button,
.waf-widget-datepicker .right-button {
	border: 1px solid @BorderColor;
	@BackGroundImagePNG(@IconImg);
	background-position: -80px 0px;
	cursor: pointer;
	width: 20px;
	height: 18px;
	float: left;
}

.waf-widget-datepicker .right-button {
	background-position: -60px 0px;
}

.waf-widget-datepicker .title-text {
	text-align: center;
	float: left;
	width: 142px;
	font-size: @FontSize;
	vertical-align: middle;
	padding: 3px 0px 1px 0px;
	color: @CaptionColor;
}

.waf-widget-datepicker > .days {
	border: 1px solid @BorderColor;
}
.waf-widget-datepicker > .days  > table
{
	table-layout: fixed;
	width:100%; 
}

.waf-widget-datepicker .day-name {
	font-size: @FontSize;
	/*border: 1px solid transparent;*/
	width: 20px;
	font-weight: bold;
	text-align: center;
}

.waf-widget-datepicker .day-normal {
	/*border: 1px solid @BorderColorLight;*/
	height: 20px;
	width: 20px;
	text-align: right;
	cursor: pointer;
}

.waf-widget-datepicker .day-normal:hover {
	@BackGroundGradientControl(@ControlHoverColor_Start,@ControlHoverColor_End);
}

.waf-widget-datepicker .day-today,
.waf-widget-datepicker .day-selected,
.waf-widget-datepicker .day-na {
	/*border: 1px solid @BorderColorLight;*/
	height: 20px;
	width: 20px;
	text-align: right;
	font-weight: bold;
	cursor: pointer;
	color: @CaptionColor;
}

.waf-widget-datepicker .day-selected {
	/*border: 1px solid @BorderColor;*/
	@BackGroundGradient(@ButtonFaceColor_Start,@ButtonFaceColor_End);
	cursor: default;
	color: @CaptionHoverColor;
}
.waf-widget-datepicker .day-na
{	
	cursor: default;
}

</style>
<div class="waf-widget-datepicker">
    <div id="divTop" class="top">
        <div id="divLeftButton" class="left-button"></div>
        <div id="divTitle" class="title-text">Current Date</div>
        <div id="divRightButton" class="right-button"></div>
    </div>
    <div id="divDays" class="days">
        <table id="tblDays" cellspacing="1px" cellpadding="2px"></table>
    </div>
</div>