<style>
.waf-widget-grid{}
.waf-widget-grid > .header{
    padding-right:17px;
}
.waf-widget-grid > .header > table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.waf-widget-grid > .header > table > tbody > tr > td{    
    border: 1px solid @BorderColor;
    color: @CaptionColor;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
	@BackGroundGradient(@ButtonFaceColor_Start,@ButtonFaceColor_End);
	cursor: pointer;;
}
.waf-widget-grid > .header > table > tbody > tr > td:hover{
	color:@CaptionHoverColor;
	@BackGroundGradient(@ButtonHoverColor_Start,@ButtonHoverColor_End);
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;;
    -o-transition-duration: 0.5s;

}
.waf-widget-grid > .data{
    overflow: auto;
    border-bottom:1px solid @BorderColor;
	overflow-y:scroll;
    overflow-x:hidden;
    height:300px;
}
.waf-widget-grid > .data > table{
    width:100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.waf-widget-grid > .data > table > tr{
	transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;;
    -o-transition-duration: 0.5s;
}
.waf-widget-grid > .data > table > tbody > tr:hover{
    background-color: @CaptionBackHoverColor;    
	transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;;
    -o-transition-duration: 0.5s;

}
.waf-widget-grid > .data > table > tbody > tr > td{
    padding: 2px;
    border: 1px solid @BorderColorLight;
    text-align: left;
    overflow: hidden;
}
</style>
<div class="waf-widget-grid">
    <div id="divHeader" class="header" >
        <table id="tblHeader" />
    </div>
    <div id="divData" class="data" >
        <table id="tblData"/>
    </div>
</div>