<style>
.waf-widget-slider-horizontal{
    position: relative;    
    height:20px;
    width:200px;
}
.waf-widget-slider-horizontal > .bar{
	position:absolute;
	top:6px;
	border:1px solid @BorderColor;
	@BackGroundGradientControl(@ControlColor_Start,@ControlColor_End);
	width:198px;
	height:6px;
	_height:4px;/*IE Hack*/
}
.waf-widget-slider-horizontal > .thumb{
    
    height: 16px;
    _height: 14px;/*IE Hack*/
    width: 6px;
    _width: 4px;
    line-height:1px;    
	font-size:0px;
    border: 1px solid @BorderColor;
    cursor: pointer;    
	@BackGroundGradient(@ButtonFaceColor_Start,@ButtonFaceColor_End);    
    position: absolute;
    top:2px;
    left:0%;
}
.waf-widget-slider-horizontal > .thumb:hover{
    @BackGroundGradient(@ButtonHoverColor_Start,@ButtonHoverColor_End);
}
</style>
<div  id="divContainer" class="waf-widget-slider-horizontal" >
	<div class="bar"/>
	<div id="divThumb" class="thumb" />
</div>