<style>
.waf-widget-progressbar{
    position: relative;
    border:1px solid @BorderColor;
    height:14px;
    width:200px;
    padding:1px;
    text-align: center;    
}
.waf-widget-progressbar > div {
	position: relative
}

.waf-widget-progressbar > div > .value{
    background-color: @CaptionBackSelectedColor;
    @BackGroundGradientControl(@ButtonFaceColor_Start,@ButtonFaceColor_End);
    height:14px;
    line-height:1px;
    font-size:0px;
    position: absolute;
    width:0%;
    left:0%;
}

.waf-widget-progressbar > div > .text{
    color:@CaptionColor;
    font-size:12px;
    line-height:1px;
    position: absolute;
}
</style>
<div  id="divContainer" class="waf-widget-progressbar" >
    <div>
        <div id="divValue" class="value" />
        <span id="spanText" class="text"/>
    </div>    
</div>