<style>


@macro RTEIcons url('waf-images/rte-icons.png');
.waf-widget-rte{
   border:1px solid @BorderColor;
   position: relative;
}
.waf-widget-rte > .toolbar{
    background-color:@CaptionBackColor;
    padding:4px;
    border-bottom:1px solid @BorderColor;
}
.waf-widget-rte > .toolbar > .bottom{
    margin-top:4px;
    height:24px;
}
.waf-widget-rte > .toolbar > .top{
    height:24px;
}
.waf-widget-rte > .container{
    position: absolute;
    top: 61px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.waf-widget-rte .richtext{
    width:100%;
    height:100%;
    border:0px solid transparent;
    margin:0px;
    padding:4px;    
    position:absolute;
}
.waf-widget-rte .label{
    float:left;
    height:20px;
    font-family: @FontFamily;
    font-size: @FontSize;
    padding-top:2px;
    margin-left:4px;
    margin-right:2px;
    font-weight: bold;
}

.waf-widget-rte .font-size{
    float:left;
    height:20px;
    border:1px solid @BorderColor;
}
.waf-widget-rte .just-center,
.waf-widget-rte .image,
.waf-widget-rte .underline,
.waf-widget-rte .outdent,
.waf-widget-rte .just-full,
.waf-widget-rte .bold,
.waf-widget-rte .hr,
.waf-widget-rte .indent,
.waf-widget-rte .italic,
.waf-widget-rte .insert-link,
.waf-widget-rte .sup,
.waf-widget-rte .sub,
.waf-widget-rte .just-right,
.waf-widget-rte .ul,
.waf-widget-rte .remove-format,
.waf-widget-rte .strike,
.waf-widget-rte .just-left,
.waf-widget-rte .remove-link,
.waf-widget-rte .ol{
    background-image:@RTEIcons;
    background-position: -120px 0px;
    background-repeat:no-repeat;
    float:left;
    height:20px;
    width:20px;
    margin:1px 1px 2px 3px;
    border:1px solid @BorderColorLight;
    cursor: pointer;
}
.waf-widget-rte .just-center:hover,
.waf-widget-rte .image:hover,
.waf-widget-rte .underline:hover,
.waf-widget-rte .outdent:hover,
.waf-widget-rte .just-full:hover,
.waf-widget-rte .bold:hover,
.waf-widget-rte .hr:hover,
.waf-widget-rte .sub:hover,
.waf-widget-rte .indent:hover,
.waf-widget-rte .italic:hover,
.waf-widget-rte .insert-link:hover,
.waf-widget-rte .sup:hover,
.waf-widget-rte .just-right:hover,
.waf-widget-rte .ul:hover,
.waf-widget-rte .remove-format:hover,
.waf-widget-rte .ol:hover,
.waf-widget-rte .strike:hover,
.waf-widget-rte .just-left:hover,
.waf-widget-rte .remove-link:hover{
    border:1px solid @BorderColor;
}
.waf-widget-rte .just-left{ background-position: -460px 0px;   }
.waf-widget-rte .remove-link{ background-position: -640px 0px; }
.waf-widget-rte .ol{ background-position: -80px 0px;  }

.waf-widget-rte .text-color,
.waf-widget-rte .back-color{
    float:left;
    padding:0px;
    padding-top:16px;
    width:20px;
    margin:1px 1px 2px 3px;
    border:1px solid @BorderColor;
    /*height:16px;*/
}

.waf-widget-rte .remove-format{  background-position: -580px 0px;   }
.waf-widget-rte .ul{ background-position: -20px 0px; }
.waf-widget-rte .font-name{
    float:left;
    height:20px;
    border:1px solid @BorderColor;
}
.waf-widget-rte .just-right    {background-position: -480px 0px;   }
.waf-widget-rte .sub           {background-position: -600px 0px;   }
.waf-widget-rte .sup           {background-position: -620px 0px;   }
.waf-widget-rte .insert-link   {background-position: -500px 0px;   }
.waf-widget-rte .italic        {background-position: -60px 0px;    }
.waf-widget-rte .indent        {background-position: -400px 0px;   }
.waf-widget-rte .hr            {background-position: -360px 0px;   }
.waf-widget-rte .bold          {background-position: 0px 0px;      }
.waf-widget-rte .just-full     {background-position: -440px 0px;   }
.waf-widget-rte .outdent       {background-position: -540px 0px;   }
.waf-widget-rte .underline     {background-position: -140px 0px;   }
.waf-widget-rte .image         {background-position: -380px 0px;   }
.waf-widget-rte .just-center   {background-position: -420px 0px;   }
</style>
<div class="waf-widget-rte">
    <div class="toolbar">
        <div class="top">
            <div id="divBold" class="bold" title="Bold"/>
            <div id="divItalic" class="italic" title="Italic"/>
            <div id="divUnderline" class="underline" title="Underline"/>
            <div id="divSub" class="sub" title="Subscript"/>
            <div id="divSup" class="sup" title="Superscript"/>
            <div id="divStrike" class="strike" title="Strikethrough"/>
            <div id="divOL" class="ol" title="Ordered List"/>
            <div id="divUL" class="ul" title="Unordered List"/>
            <div id="divJustLeft" class="left" title="Left Justify"/>
            <div id="divJustCenter" class="center" title="Center Justify"/>
            <div id="divJustRight" class="right" title="Right Justify"/>
            <div id="divJustFull" class="just-full" title="Full Justify"/>
            <div id="divOutdent" class="outdent" title="Outdent"/>
            <div id="divIndent" class="indent" title="Indent"/>
            <div id="divHR" class="hr" title="Horizontal Rule"/>
            <div id="divImage" class="image" title="Insert Image"/>
            <div id="divInsertLink" class="insert-link" title="Insert Link"/>
            <div id="divRemoveLink" class="remove-link" title="Remove Link"/>
            <div id="divRemoveFormat" class="remove-format" title="Remove Formatting"/>
        </div>
        <div class="bottom">
            <div class="label">Text Color</div>
            <WAF:ColorPicker id="cpTextColor" class="text-color" />
            <div class="label">Back Color</div>
            <WAF:ColorPicker id="cpBackColor" class="back-color" />
            <div class="label">Font</div>
            <WAF:Listbox id="lbFontName" style="float:left;width:80px;">
            	<addCssClassName>font-name</addCssClassName>
            </WAF:Listbox>
            <div class="label">Size</div>
            <WAF:Listbox id="lbFontSize" style="float:left;width:70px;">
            	<addCssClassName>font-size</addCssClassName>
            </WAF:Listbox>
        </div>        
    </div>
    <div class="container">
        <WAF:RichText id="rtIns" class="richtext"/>
    </div>
</div>