<style>

@macro TreeNodeHeight 20px;
@macro TreeNodeTextHeight 16px;
@macro IconWidth 20px;
@macro IconHeight 20px;

.waf-widget-treeview{
	position:relative;
    overflow: auto;
    white-space: nowrap;
    border:1px solid @BorderColor;
}


.waf-widget-treeview .treenode{
    height:@TreeNodeHeight;
}
.waf-widget-treeview .text{
    font-size: @FontSize;
    font-family: @FontFamily;
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    left:@IconWidth;
    top:0px;
    height:@TreeNodeTextHeight;
    padding:2px;    
    
}
.waf-widget-treeview .text:hover{
    background-color:@CaptionBackHoverColor;
    color:@CaptionColor;
}
.waf-widget-treeview .block{
    padding-left:10px;
    margin:0px;
}
.waf-widget-treeview .collapsed,
.waf-widget-treeview .expanded,
.waf-widget-treeview .leaf{
    @BackGroundImagePNG(@IconImg);
    background-position: -120px 0px;
    position: absolute;
    left:0px;
    top:0px;
    width:@IconWidth;
    height:@IconHeight;    
}
.waf-widget-treeview .expanded{    
    background-position: -140px 0px;    
}
.waf-widget-treeview .leaf{    
    background-position: -40px 0px;    
    width:5px;    
}

</style>
<div style="overflow:auto;" class="waf-widget-treeview">
    <div id="divChilds" class="block"></div>
</div>