<div>
	<div id="divNode" style="position: relative;" class="treenode">
        <div id="divStateImg" class="leaf"/>
        <div id="divText" class="text" >Node</div>
	</div>
    <div id="divChilds" class="block" style="display:none;"/>
</div>

