<style>
.waf-panel-expand{
}
.waf-panel-expand > .title{
    
    border:1px solid @BorderColor;
    font-family: @FontFamily;
    font-size: @FontSize;
    cursor: pointer;
    padding:3px 5px 2px 4px;
	@BackGroundGradientControl( @ControlColor_Start, @ControlColor_End );
}
.waf-panel-expand > .title:hover{
    @BackGroundGradientControl( @ControlHoverColor_Start, @ControlHoverColor_End );
}

.waf-panel-expand > .title > .icon-collapsed,
.waf-panel-expand > .title > .icon-expanded
{
    @BackGroundImagePNG(@IconImg);
    background-position: 0px 0px;
    width:20px;
    height:20px;
    float:left;
}
.waf-panel-expand > .title > .icon-expanded{    
    background-position: -20px 0px;        
}
.waf-panel-expand > .title > .title-text{
    margin-left:20px;
    padding-top:2px;
}
.waf-panel-expand > .content{
    border:1px solid @BorderColor;
    border-top-width: 0px;
    border-top-width: 0px;
    padding:4px;   
    display:none;  
}
</style>
<div class="waf-panel-expand">
	<div id="divTitle" class="title"  >
		<div id="divIcon" class="icon-collapsed" ></div>
		<div id="divTitleText" class="title-text">Title</div>
	</div>
	<div id="divContent" class="content"/>
</div>