<style>
.waf-panel-split-horizontal{
    position: relative;
    height:100%;
    border: 1px solid @BorderColor;
    overflow:hidden;    
}
.waf-panel-split-horizontal > .left{    
  	padding: 0px;
	margin: 0px;
	overflow: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	width:200px;
	left:0px;
	height:100%;/*IE6*/

}
.waf-panel-split-horizontal > .splitter{
    border:1px solid @BorderColor;
    border-width:0px 1px 0px 1px;
	background-color:@BorderColorLight;
    width:3px;
	height:100%;
	cursor:col-resize;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left:200px;
	height:100%;/*IE6*/
	

}
.waf-panel-split-horizontal > .right{    
   	overflow:auto;
	display:inline;
	padding: 0pt;
	margin: 0pt;
	overflow: auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 205px;
	height:100%;/*IE6*/
}
</style>
<div  id="divContainer" class="waf-panel-split-horizontal"  >	
	<div id="divLeft" class="left"/>
	<div id="divSplitter" class="splitter"/>
	<div id="divRight" class="right"/>	
</div>