<style>
.waf-panel-split-vertical{
    position: relative;
    height:100%;
    border: 1px solid @BorderColor;
    overflow:hidden;
}
.waf-panel-split-vertical > .top, 
.waf-panel-split-vertical > .bottom,
.waf-panel-split-vertical > .splitter{  	
	padding: 0px;
	margin: 0px;
	overflow: auto;
	position: absolute;
	left: 0px;
	right: 0px;
	height:200px;
	width:100%;/*IE6*/
	top:0px;
	background-color: @BackgroundColor;
}
.waf-panel-split-vertical > .splitter{
	background-color:@BorderColorLight;
	border:1px solid @BorderColor;
	border-width:1px 0px 1px 0px;		
	height:3px;
	line-height:5px;
	font-size:0px;	
	cursor:row-resize;	
	top:200px;	
}
.waf-panel-split-vertical > .bottom{    	
	bottom: 0px;
	top: 205px;
	width:100%;
	background-color: @BackgroundColor;
}

</style>
<!--  <div style="width:100%;height:100%;padding: 0pt; margin: 0pt; border: medium none; position: relative; left: 0px; right: 0px; top: 0px; bottom: 0px;"> -->
<!--  </div> -->
<div  id="divContainer" class="waf-panel-split-vertical" >	
	<div id="divTop" class="top"/>
	<div id="divSplitter" class="splitter"/>
	<div id="divBottom" class="bottom"/>	
</div>