<style>
.waf-panel-stack{    
}
.waf-panel-stack > .element,
.waf-panel-stack > .element-selected
{
    margin-top:1px;
}
.waf-panel-stack > .element > .title,
.waf-panel-stack > .element-selected > .title{
    font-family: @FontFamily;
    font-size: @FontSize;
    cursor: pointer;    
    border:1px solid @BorderColor;
    padding:3px 5px 2px 4px;
	@BackGroundGradientControl( @ControlColor_Start, @ControlColor_End );
}
.waf-panel-stack > .element-selected > .title{      
    border:1px solid @BorderColor;  
	@BackGroundGradientControl( @ControlSelectedColor_Start, @ControlSelectedColor_End );        
}
.waf-panel-stack > .element > .title:hover{
	@BackGroundGradientControl( @ControlHoverColor_Start, @ControlHoverColor_End );    
}
.waf-panel-stack > .element > .content,
.waf-panel-stack > .element-selected > .content
{
    border:1px solid @BorderColor;
    border-width: 0px 1px 1px 1px;     
    padding:4px;
    display:none;
}
.waf-panel-stack > .element-selected > .content{
	display:block;	
}
</style>
<div class="waf-panel-stack"></div>
