<style>
.waf-panel-tab{
}
.waf-panel-tab > .title-group{        
    font-family: @FontFamily;
    font-size: @FontSize;      
    margin-bottom:2px;  
}
.waf-panel-tab > .title-group .title,.waf-panel-tab > .title-group .title-selected{    
    padding:3px 4px 2px 4px;
    margin:0px 1px 0px 0px;
    cursor: pointer;	
    border:1px solid @BorderColor;    
	border-bottom-width:0px;	
}
.waf-panel-tab > .title-group .title{
	border-color: @BorderColorLight;
	color:@CaptionColor;
	@BackGroundGradientControl( @ControlColor_Start, @ControlColor_End );
}
.waf-panel-tab > .title-group .title-selected{
	border-bottom-width: 1px;
	border-bottom-color: @BackgroundColor;        
    /*@BackGroundGradientControl( @ControlSelectedColor_Start, @ControlSelectedColor_End );*/
    /*color:@CaptionSelectedColor*/
}
.waf-panel-tab > .title-group .title:hover{
    @BackGroundGradientControl( @ControlHoverColor_Start, @ControlHoverColor_End );
    color:@CaptionHoverColor
}

.waf-panel-tab > .content{
    padding:4px;
    border:1px solid @BorderColor;
    background-color: @BackgroundColor;    
}
</style>
<div class="waf-panel-tab">
    <div id="divTitle" class="title-group"/>
    <div id="divContent" class="content"/>
</div>