<style>
.waf-widget-dialog-layer-screen{
    position:fixed;
    _position:absolute;/*IE6 Hack*/
    height:100%;
    width:100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color:@BorderColorLight;
    opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

.waf-widget-dialog-box{    
  	background-color:@BackgroundColor;
    border:1px solid @BorderColor;
    left:0px;
    top:0px;    
    position:fixed;
    _position:absolute;/*IE6 Hack*/
    z-index:1001;	    
    @BorderRadius(@BorderRadiusSize,@BorderRadiusSize,@BorderRadiusSize,@BorderRadiusSize);
}
.waf-widget-dialog-box > .title{    
   	font-family:@FontFamily;
   	font-size:@FontSize;
    font-weight:bold;
    padding:4px;
    color:@CaptionColor;
    position:relative;
	@BackGroundGradient(@ButtonFaceColor_Start,@ButtonFaceColor_End);
    border:1px solid var @BorderColor;
    border-width: 0px 0px 1px 0px;
    @BorderRadius(@BorderRadiusSize,@BorderRadiusSize,0px,0px);	
}
.waf-widget-dialog-box > .title .title-text{
}
.waf-widget-dialog-box > .title .close{
    margin: 0px;
    position: absolute;
    right: 4px;
    padding: 0px 0px 0px 0px;
    width:15px;
	height:15px;
    cursor: pointer;
    border:1px solid transparent;
    @BackGroundImagePNG(@IconImg);
    background-position: -102px -3px;

}
.waf-widget-dialog-box > .title .close:hover{
    border:1px solid @BorderColor;
    cursor: pointer;
}

.waf-widget-dialog-box > .content{
   	background-color:@BackgroundColor;
    @BorderRadius(0px,0px,@BorderRadiusSize,@BorderRadiusSize);
}
</style>
<div class="waf-widget-dialog-box" tabindex="0">
	<div id="divTitle" class="title" style="position:relative;">
		<span id="spanTitleText" class="title-text">Title</span>
		<span id="spanClose" class="close" ></span>
	</div>
	<div class="content" id="divContent"></div>
</div>
