<style>
.waf-basic-radio {
	color: @TextColor;
	white-space: nowrap;
}

.waf-basic-radio-disabled {
	color: @TextDisabledColor;
	white-space: nowrap;
}

.waf-basic-radio > .control {
	
}

.waf-basic-radio > .label {
	cursor: pointer;
}
</style>
<label class="waf-basic-radio">
	<input id="elmChk" type="radio"	class="control" />
	<span id="elmLbl"  class="label">Radio</span>
</label>
