<style>
.waf-list-radio{
}
.waf-list-radio > .item,
.waf-list-radio > .item-selected
{
	vertical-align: middle;
	position:relative;
	cursor: pointer;
}
.waf-list-radio > .item:hover {
	background-color: @CaptionBackHoverColor;
}

.waf-list-radio > .item-selected {
	background-color: @CaptionBackSelectedColor;
}

.waf-list-radio > .item  > .radio , 
.waf-list-radio > .item-selected > .radio {
	position:relative;
	padding:3px;
	float:left;
	height:auto;	
}
.waf-list-radio > .item  > .radio > input, 
.waf-list-radio > .item-selected > .radio >input {
	padding:0px;
	margin:0px;
}
.waf-list-radio > .item  > .content , 
.waf-list-radio > .item-selected > .content {
	padding:3px;
	position:relative;		
}
</style>
<div class="waf-list-radio">    
</div>