<style>
.waf-list-checkbox{
}
.waf-list-checkbox > .item,
.waf-list-checkbox > .item-selected
{
	vertical-align: middle;
	position:relative;
	cursor: pointer;
}
.waf-list-checkbox > .item:hover {
	background-color: @CaptionBackHoverColor;
}

.waf-list-checkbox > .item-selected {
	background-color: @CaptionBackSelectedColor;
}

.waf-list-checkbox > .item  > .checkbox , 
.waf-list-checkbox > .item-selected > .checkbox {
	position:relative;
	padding:3px;
	float:left;
	height:auto;		
}
.waf-list-checkbox > .item  > .checkbox > input  , 
.waf-list-checkbox > .item-selected > .checkbox > input{
	padding:0px;
	margin:0px;
}
.waf-list-checkbox > .item  > .content , 
.waf-list-checkbox > .item-selected > .content {
	padding:3px;
	position:relative;	
}
</style>
<div class="waf-list-checkbox">    
</div>