<style>
.waf-list {
	width: 100%;
}

.waf-list > .item,
.waf-list > .item-selected {
	cursor: pointer;
	padding: 4px;
	font-family: @FontFamily;
}

.waf-list > .item:hover {
	background-color: @CaptionBackHoverColor;
}

.waf-list > .item-selected {
	background-color: @CaptionBackSelectedColor;
}
</style>
<div class="waf-list">	
</div>