<style>
.waf-basic-checkbox {
	color: @TextColor;
	white-space: nowrap;
}

.waf-basic-checkbox-disabled {
	color: @TextDisabledColor;
	white-space: nowrap;
}

.waf-basic-checkbox > .control {
	
}

.waf-basic-checkbox > .label {
	cursor: pointer;
}
</style>
<label class="waf-basic-checkbox"> 
	<input id="elmChk" type="checkbox" class="control" /> 
	<span id="elmLbl" class="label">Checkbox</span>
</label>
