<style>
.waf-basic-textarea {
	font-family: @FontFamily;
	font-size: @FontSize;
    padding:2px;
    border:1px solid @BorderColor;
    color: @CaptionColor;
    background-color: @CaptionBackColor; 
}
.waf-basic-textarea-disabled {    
    font-family: @FontFamily;
    font-size: @FontSize;
    padding:2px;
    border:1px solid @BorderColorLight;
    color: @CaptionDisabledColor;
    background-color: @CaptionBackDisabledColor;
}
</style>
<textarea class="waf-basic-textarea">&nbsp;</textarea>